/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./src/app/refundpolicy/About.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.ezy__about11_Kfxl1SBn {
	--bs-body-color: #1e2329;
	--bs-body-bg: rgb(255, 255, 255);
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	background-color: var(--bs-body-bg);
	color: var(--bs-body-color);
	overflow: hidden;
	padding: 60px 0;
}

@media (min-width: 768px) {
	.ezy__about11_Kfxl1SBn {
		padding: 100px 0;
	}
}

.gray .ezy__about11_Kfxl1SBn,
.ezy__about11_Kfxl1SBn.gray {
	--bs-body-bg: rgb(246, 246, 246);
}

.dark-gray .ezy__about11_Kfxl1SBn,
.ezy__about11_Kfxl1SBn.dark-gray {
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);
}

.dark .ezy__about11_Kfxl1SBn,
.ezy__about11_Kfxl1SBn.dark {
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);
}

.ezy__about11_Kfxl1SBn-heading {
	font-size: 35px;
	line-height: 1.2;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

@media (min-width: 768px) {
	.ezy__about11_Kfxl1SBn-heading {
		font-size: 75px;
	}
}

.ezy__about11_Kfxl1SBn-sub-heading {
	font-size: 20px;
	line-height: 1.5;
	opacity: 0.75;
}

.ezy__about11_Kfxl1SBn-dot {
	display: inline-flex;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: var(--ezy-theme-color);
}

.ezy__about11_Kfxl1SBn-highlighted {
	font-size: 40px;
	color: var(--ezy-theme-color);
	font-weight: 700;
}

