@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

  
  
  body {
    font-family: 'Raleway', sans-serif; /* Apply Poppins globally */
    -webkit-font-smoothing: antialiased; /* Safari/Chrome */
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Use custom font only in elements with 'custom-font' class */
  


.custom-container{
    min-width: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}


.glide__bullet--active {
    position: relative;
    background-color: black;
  }

  .glide__bullet--active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-radius: 9999px;
    animation: sweep 0.5s ease forwards;
    transform: scale(1.5);
    opacity: 0;
  }

  @keyframes sweep {
    0% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(0.95);
      opacity: 0;
    }
  }


  @keyframes fillTimer {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-fill {
    animation: fillTimer 2.5s linear forwards; /* Fills over 3 seconds */
  }


  .scroll-animation {
    opacity: 0;
    transform: translateY(50px); /* Default starting position for animations */
    transition: all 0.8s ease-out;
  }
  
  .scroll-animation.animate-from-left {
    transform: translateX(0);
    opacity: 1;
  }
  
  .scroll-animation.animate-from-bottom {
    transform: translateY(0);
    opacity: 1;
  }
  
  .scroll-animation.animate-fade-in {
    opacity: 1;
    transform: none;
  }