@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

  
  
  body {
    font-family: 'Raleway', sans-serif; /* Apply Poppins globally */
    -webkit-font-smoothing: antialiased; /* Safari/Chrome */
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Use custom font only in elements with 'custom-font' class */
  


.custom-container{
    min-width: 100%;
    max-width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}


.glide__bullet--active {
    position: relative;
    opacity:0.5;
  }

  .glide__bullet--active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: white;
  
    animation: sweep 3s linear forwards;
    opacity: 0;
  }

  @keyframes sweep {
    0% {
      width:0;
      opacity: 1;
    }
    100% {
      width:100%;
      opacity: 1;
    }
  }


  @keyframes fillTimer {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
  
  .animate-fill {
    animation: fillTimer 2.5s linear forwards; /* Fills over 3 seconds */
  }


  /* Base style for the component */
.scroll-animation {
  opacity: 0;
  transform: translateY(30%); /* Default transform */
  transition: opacity ease-in, transform ease-in;
}

/* Animation for sliding in from the left */
.scroll-animation.animate-from-left {
  opacity: 1;
  transform: translateX(0);
}

/* Animation for sliding in from the bottom */
.scroll-animation.animate-from-bottom {
  opacity: 1;
  transform: translateY(0);
}

/* Animation for fading in */
.scroll-animation.animate-fade-in {
  opacity: 1;
  transform: none;
}
